@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Oswald:wght@200;700&family=Roboto:ital,wght@0,300;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body{
    background-color: #d5d5d5;
    height: 100vh;
    font-family: "Roboto", sons-serif;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    height: 100%;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-top {
    position: absolute;
    height: 500px;
    top: 0;
    left: 0;
    z-index: -1;
}

.mockup {
    height: 500px;
}

.form{
    width: 100%;
}

.flex-column {
    flex-direction: column;
}

.form-section {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    width: 75%;
}

.form-section h1{
    font-size: 40px;
    margin: 25px 0;
    color: #343333;
    text-transform: capitalize;
}

input {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    border: 1px solid #a7a7a7;
    margin-bottom: 15px;
    width: 100%;
    margin: 0 6px 10px 6px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    width: 100%;
    padding: 10px 0px;
    font-size: 20px;
    color: #ffffff;
    background-color: #f59e2e;
    border: none;
    outline: none;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-top: 6px;
}

.btn:hover {
    background-color: #1d1d1d;
}

.btn-facebook {
    background-color: #354c8d;
}

.btn-twitter {
    background-color: #009fe9;
}

@media screen and (max-width: 600px) {
    .form-section{
        padding: 20px 30px;
        margin: auto;
    }
    .row {
        flex-direction: column;
        width: 100%;
    }
    .mockup {
        display: none;
    }
    main {
        grid-template-columns: 1fr;
    }
    .divider {
      text-align: center;  
    }
    .btn-facebook {
      text-align: center;  
    }
    .btn-twitter {
      text-align: center;  
    } 
    .image-top {
        height: 300px;
    }
    input {
        width: auto;
    }
}